body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b3b3b;
  }
  
  .video-container video {
    max-width: 80%;
    max-height: 80vh;
    border: 5px solid #a66767;
    border-radius: 10px;
  }
  